.root {

    -fx-font-family: "Helvetica";
    -fx-font-size: 13pt;

    -fx-accent: #99BEEE;

    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-text-box-border: transparent;
}

.list-view .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.list-view .list-cell:odd {
    -fx-background-color: #FAFAFA;
    -fx-text-fill: black;
}

#customerListBox .list-cell:selected {
    -fx-background-color: #99BEEE;
}

.jfx-rippler {
    -jfx-rippler-fill: #82A8D8;
}

#addCustomerButton {
    -fx-background-radius: 100%;
    -fx-text-fill: white;
    -fx-background-color: #99BEEE;
    -fx-font-size: 17px;
}

.scroll-bar {
    -fx-font-size:8px;
}